.adminInfo{
    display:flex;
   align-items: center;
   padding-top: 30px;
   padding-left: 35px;
   margin-bottom: 50px;
}
.adminName{
    padding-left: 20px;
}
.adminDashboard{
  background-image: linear-gradient(rgb(241, 241, 241), rgb(253, 253, 253));
 border:solid 1px lightgray;
  width:95%;
  margin:auto;
  margin-top: 10px;

}
.adminPicture{
    border-radius: 50%;
    width:70px;
    height:70px;
}

.titles{
    text-align: center;
    background-color: lightgrey;;


}
.PreviousTitles{
    text-align: center;
    background-color: lightgrey;

}
.titles h2{
    text-align: center;
    font-size: 62px;

}
.PreviousTitles h2{
    text-align: center;
    font-size: 60px;

}
.list-unstyled{
    display:flex;
    flex-wrap: wrap;
}
.currentStudents{
    display:flex ;
     border:solid lightgrey;
      margin:auto;
      min-width:95%;
      max-width:95%;
   flex-direction: column;
}
.PriviousStudents{
    display:flex ;
     border:solid lightgrey;
      margin:auto;
      min-width:1100px;
      max-width:1100px;

   flex-direction: column;
}

.oneLink{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-align: start;
    row-gap: 20px;
    padding-left: 0px;
   
}
.dashbordsection{
    
    display: flex;
    column-gap: 20px;
    min-height: 80vh;
  
    justify-content: space-between;
   
   

}
@media screen and (max-width:820px){
    .dashbordsection{
    
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        min-height: 80vh;

    }
.adminButtons{
    display: flex;;
    flex-direction: column;
    row-gap: 10px;
    margin-top:10%;
}

}
.adminButtons{
    display: flex;;
    flex-direction: column;

}

.dashbordfield{
    border:solid lightgrey;
    margin:auto;
 width: 1100px;

 
 }
 .emailss{
    
     display: flex;
     flex-direction: column;
     width :1100px;
     flex-wrap: wrap;
     column-gap: 40px;
     row-gap: 20px;
 }
 .em{
     display: flex;
     flex-wrap: wrap;
     column-gap: 40px;
     row-gap: 25px;
  
 }
