.dashboardContainer{
background-color: black;
width: 95%;
margin:auto
}
.dashbord{
display: flex;
justify-content: space-between;
}
.dashboardDescription{
    background-color: red;
    min-height: 40vh;
    width:68%;
  
   
}
.dashboardProfile{
    background-color: blue;
    min-height: 60vh;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
}
.favoriteList{
    background-color: green;
    min-height: 40vh;
    margin-top: 15px;
 
}