*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Sofia";
    text-align: center;

}
a{
    text-decoration: none;
    color: black;
}
.navbar button{
    background-color:rgb(224, 203, 175);
    width:80px;
    border:none;
    border-radius: 10%;
    height:20px;
}
.navbar button:hover{
    background-color: orange;
    font-weight: bold;
}
.navContainer{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 20px;
}
.navContainer h3{
    padding-bottom: 10px;
   
}

.navContainer span{
    color:black;
    border-radius: 50%;
    background-color: rgb(207, 177, 121);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav{
    height: 10vh;
    background-image: linear-gradient(45deg, rgb(238, 218, 192), rgb(235, 211, 180));
    

}
.navbar{
    display:flex;
    list-style: none;
    width:70%;
    height:100%;
    justify-content: space-around;
    text-align: end;
    align-items: center; 
    margin-left: auto;
}
.item{
    padding:5px;
    margin-left: 10px;
    
}
.item :hover{
    background-color: tan;
    border-radius: 10%;
}
@media screen and (max-width:768px){
    .line{
          width:30px;
          height:3px;
          margin:5px;
          background-color: white;
          
    }
    nav{
        /* to supperpose the humberger on the navbar */
        position:relative;  
    }
    .hamburger{
        position:absolute;
        cursor: pointer;
        right:5%;
        top:20%;
        /* An element with greater stack order is always in front of an element with a lower stack order.  */
        z-index: 2;
    }
    .navbar{
        position:fixed;
        background-image: linear-gradient(45deg,rgb(82, 8, 151), blueviolet);
        height: 100vh;
        width:100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -18%);
        -webkit-clip-path:circle(100px at 90% -18%);
        transition:all 0.5s ease-out
    }
    .navbar.open{
        clip-path: circle(800px at 90% -20%);
        -webkit-clip-path:circle(800px at 90% -20%);
    }
}